In [ ]:
import os
import sys

import pandas as pd

current_dir = os.getcwd()
parent_dir = os.path.abspath(os.path.join(current_dir, "..", "..", ".."))
data_dir = os.path.abspath(os.path.join(current_dir, "..", "..", "..", "..", "data"))
sys.path.append(parent_dir)

In [70]:
path_parquet = os.path.join(data_dir, "silver", "breweries.parquet")
df = pd.read_parquet(path_parquet, "pyarrow")

In [ ]:
df_aggregate = (
    df
    .groupby(["brewery_type", "country", "state"], observed=True)["id"] # Apenas as combinações que ocorreram '>0'
    .count()
    .reset_index(name="quantidade")
    )\
    .sort_values(['quantidade'], ascending=False)

df_aggregate.head(10) # top10

    brewery_type        country           state  quantidade
231        micro  united_states      california         466
274        micro  united_states      washington         268
42       brewpub  united_states      california         253
232        micro  united_states        colorado         228
259        micro  united_states        new_york         226
60       brewpub  united_states        michigan         199
270        micro  united_states           texas         196
236        micro  united_states         florida         190
260        micro  united_states  north_carolina         180
262        micro  united_states            ohio         163

In [ ]:
df_aggregate.to_parquet( # save in layer gold
    path=os.path.join(
        data_dir, "gold", "breweries.parquet"
    )
)